<div>
   <!--  <%= form_for('/targets', method: :post) do %>
    <h3>タスクを入力する</h3>
    <input placeholder="達成したいタスク名を入力してください" type="text" name="name">
    <textarea placeholder="説明を入力してください" name="text" cols="30" rows="10"></textarea>
    <input value="SENT" type="submit">
    <% end %> -->
    <%= form_for @target do |f| %>
      <%= f.text_field :name, placeholder: '達成したいタスク名を入力してください' %>
      <%= f.text_area :text, placeholder: '説明を入力してください',  cols: "30", rows:"10" %>
      <%= f.submit "登録" %>
    <% end %>
</div>