<div style="background-color: #00ced1">
<h3>・タスク</h3>
<p><%= task.name %></p>
<h3>・説明</h3>
<p><%= task.text %></p>
<%= link_to "タスク達成のためのtodo一覧", target_task_todos_path(task.target_id,task.id) %>
<div>
  <ul>
    <li>
    <%= link_to "削除", target_task_path(task.target_id,task.id), method: :delete %>
    </li>
    <li><%= link_to "編集", edit_target_task_path(task.target_id,task.id) %></li>
  </ul>
</div>
</div>