<% if task.achieve == false %>
 <div class="item" data-model-name="<%= Task.name.underscore %>" data-update-url="<%= "/targets/#{task.target_id}/tasks/#{task.id}/sort" %>">
   <div class="task">
    <div class="task-h4 overflow-hidden"><h4><%= task.name %></h4></div>
    <div class="task-p overflow-hidden"><p><%= task.text %></p></div>
    <div class="button-position">
      <div class="list-button">
        <%= button_to "達成に必要なTodo", target_task_todos_path(task.target_id,task.id), method: :get %>
      </div>
      <div class="edit-button">
        <%= button_to "編集", edit_target_task_path(task.target_id,task.id), method: :get %>
      </div>
      <div class="delete-button">
        <%= button_to "削除", target_task_path(task.target_id,task.id), method: :delete %>
      </div>
    </div>
  </div>
  <%= render 'common/arrow' %>
 </div>
<% else %>
  <div class="item" data-model-name="<%= Task.name.underscore %>" data-update-url="<%= "/targets/#{task.target_id}/tasks/#{task.id}/sort" %>">
    <div class="task-done">
    <div class="task-h4-done overflow-hidden"><h4><%= task.name %></h4></div>
    <div class="task-p-done overflow-hidden"><p><%= task.text %></p></div>
    <div class="button-position">
      <div class="list-button">
        <%= button_to "達成に必要なTodo", target_task_todos_path(task.target_id,task.id), method: :get %>
      </div>
      <div class="edit-button">
        <%= button_to "編集", edit_target_task_path(task.target_id,task.id), method: :get %>
      </div>
      <div class="delete-button">
        <%= button_to "削除", target_task_path(task.target_id,task.id), method: :delete %>
      </div>
    </div>
  </div>
  <%= render 'common/arrow' %>
  </div>
<% end %>