<div class="task">
  <div class= "task-h4"><h4><%= task.name %></h4></div>
  <div class= "task-p"><p><%= task.text %></p></div>
  <div class="btn-group button-position" role="group" aria-label="Todolist・編集・削除">
  <button type="button" class="btn btn-default tsk-list-button"><%= link_to "達成に必要なTodo", target_task_todos_path(task.target_id,task.id) %></button>
  <button type="button" class="btn btn-default tsk-button"><%= link_to "編集", edit_target_task_path(task.target_id,task.id) %></button>
  <button type="button" class="btn btn-default tsk-button"><%= link_to "削除", target_task_path(task.target_id,task.id), method: :delete %></button>
  </div>
</div>