<div>
  <h2><%= @task.name %></h2>
  <div><%= link_to "todoを追加登録する", new_target_task_todo_path(@task.target_id, @task.id) %></div>
  <div><%= link_to "タスク一覧へ戻る", target_tasks_path %></div>
  <div><%= link_to "ターゲット一覧へ戻る", targets_path %></div>
  <h3>todo一覧</h3>
</div>
<div><%= render :partial => "todo", :collection => @todos.order(created_at: :DESC) %></div>